body {
	padding-top: 50px;
}

.starter-template {
	height:600px;
	width: 100%;
	padding: 15px 15px;
  	text-align: center;
	background: black;
}

#gmap {
  width:80%;
  height:100%;
	margin-right: auto;
	margin-left: auto;
	background: red;
}	

#logout {
	margin-top:10px;	
}

.dropdown-menu {
	width:260%;
	border-radius:5px;
	border:1px solid;
}

#searchbutton {
	border:10px;
	float:right;
	display:block;
	margin-left:0px;
	clear:left;
}

.datepicker-dropdown {
	width:21%;
}

select option[disabled] {
	display:none;
}

#insertLoc {
	width:28px;
}

.control-group.error input{	
	border-bottom-color:#FF0000;
	border-top-color:#FF0000;
	border-left-color:#FF0000;
	border-right-color:#FF0000;
}
