body {
	
  padding-top: 50px;

}

.starter-template {
	height:600px;
	width: 100%;
	
  padding: 15px 15px;
  text-align: center;
	background: black;
}

#gmap {
  width:80%;
  height:100%;
	margin-right: auto;
	margin-left: auto;
	background: red;
}	

#logout {
	margin-top:10px;
}
